<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>로그인</title>
</head>
<body>
  <h2>로그인</h2>
  <form action="/login" method="POST">
    <div>
      <label>사용자 이름:</label>
      <input type="text" name="username" required/>
    </div>
    <div>
      <label>비밀번호:</label>
      <input type="password" name="password" required/>
    </div>
    <button type="submit">로그인</button>
  </form>
  <a href="/register">아직 회원이 아니라면? 회원가입</a>
</body>
</html>
