body {
    margin: 20px;
    font-family: sans-serif;
  }
  
  .header {
    margin-bottom: 20px;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .post-item {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
  